{% extends 'youtube/index.html' %}

{% block content %}
<div class="container-md text-center mt-5">
  {% url 'video-details' pk=video.id as detail_url %}
  {% if video.local_file_exists %}
      <p>Видео <span id="video-title">"{{ video.name }}"</span> закачивается.</p>
      <p>
        Вы можете перейти на страницу видео и начат его просмотр. Чтобы скачать видео, дождитесь окончания загрузки.
        <p>
          Текущий статус - 
          {% if video.filesize_OK %}
          <span id="status" style="color: green; font-weight: bold">Загрузка завершена</span>
          {% else %}
          <span id="status" style="color: red; font-weight: bold">Выполняется загрузка</span>
          {% endif %}
        </p>
      </p>
      <p><a href="{{detail_url}}"><img src="{{ video.thumbnail }}"></img></a></p>
  {% else %}
  <p>Видео <span id="video-title">"{{ video.name }}"</span> добавлено в очередь на скачивание</p>

  {% endif %}


  {% comment %} <p>
      <a class="btn btn-danger mb-2" href="{% url 'videos' %}">Посмотреть загруженные видео</a>
      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#downloadModal" href="#">Загрузить видео</a>
    </p> {% endcomment %}
</div>



{% endblock content %}

{% block scripts %}
{% load static %}
<script>let task_id = "{{ download_task_id }}"</script>
<script src={% static "js/videos.js" %}></script>
{% endblock scripts %}