{% extends 'youtube/index.html' %}

{% block videos_list %}
{% comment %} <div class="card-group"> {% endcomment %}
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for video in object_list %}
      <div class="col">
        <div class="card">
          {% if video.thumbnail %}
            <img src="{{video.thumbnail}}" class="card-img-top" alt="{{video.name}}">
          {% endif %} 

            <div class="card-body">
              <h5 class="card-title">{{video.name}}</h5>
              <p class="card-text">{{video.description | slice:"200"}}...</p>
              <a href="{% url 'video-details' video.id %}" class="btn btn-secondary">Детали</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Добавлено {{video.date_added}}</small>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>  
</div>
{% endblock videos_list %}
